/*
<div id="__sound-pirate" class="__sound-pirate-at-left">
    <a class="__sound-pirate-to-left"><img src="chrome-extension://naaoeihcbaeganoldlfjnomncgdcdnjf/img/arrowl32.png"></a>
    <a class="__sound-pirate-download" download href=""><img src="chrome-extension://naaoeihcbaeganoldlfjnomncgdcdnjf/img/music32.png"></a>
    <a class="__sound-pirate-to-right"><img src="chrome-extension://naaoeihcbaeganoldlfjnomncgdcdnjf/img/arrowr32.png"></a>
</div>
*/
$base-margin: 4px;
$base-width: 32px;
#__sound-pirate {
    margin: 0 $base-margin $base-margin $base-margin;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    width: $base-width;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2147483647;
    cursor: pointer;

    transition: left 1s ease;

    &.__sound-pirate-at-left:hover .__sound-pirate-to-right {
        display: block;
    }
    &.__sound-pirate-at-right:hover .__sound-pirate-to-left {
        display: block;
    }

    &.__sound-pirate-at-right {
        left: calc(100% - #{$base-width} - #{$base-margin});
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .__sound-pirate-to-left, .__sound-pirate-to-right {
        display: none;
        position: absolute;
        width: 14px; // some website need this
        top: 0; // some website need this
    }
    .__sound-pirate-to-left {
        right: 100%;
    }
    .__sound-pirate-to-right {
        left: 100%
    }

    img {
        display: block;
    }

    .__sound-pirate-download {
        display: block;
        transform: rotate(0turn);
        transition: transform 1s ease;
    }
}
